$font:'Lato', sans-serif;
$red: #FF0453;
$yellow: #FFC100;
$purple: #885E74;
$green: #03C796;

$headerHeight : 60px;
$footerHeight : 60px;
@mixin icomoon($content) {
	content: $content;
  	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	color: #ffffff;
	font-family: $font; 
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin: 0;
	padding: 0;
}
h1 {
	font-weight: 300;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
}
h4 {
	font-weight: 900;
	font-size: 18px;
	line-height: 32px;
	text-align: center;
	letter-spacing: 0.05em;
}
.main-block {
	width: 50%;
	height: 50%;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 8px;
	position: absolute;
	border: solid 2px rgba(0,0,0,1);
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.4);
	-webkit-transition: all 0.5s ease-in;
	-o-transition: all 0.5s ease-in;
	transition: all 0.5s ease-in;
}
#one {
	left: 0;
	top: 0;
	background-color: $red;

	-webkit-transform-origin: 0% 0%;
	-moz-transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-o-transform-origin: 0% 0%;
	transform-origin: 0% 0%;
}
#two {
	right: 0;
	top: 0;
	background-color: $green;
	-webkit-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-o-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}
#three {
	left: 0;
	bottom: 0;
	background-color: $purple;
	-webkit-transform-origin: 0% 100%;
	-moz-transform-origin: 0% 100%;
	-ms-transform-origin: 0% 100%;
	-o-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}
#four {
	right: 0;
	bottom: 0;
	background-color: $yellow;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.detail-page .main-block {
	width: 0%;
	height: 0%;  
}
.detail-page .main-block.active {
	width: 100%;
	height: 100%; 
}
.main-block h1{
	margin-top: 60px;
}
.main-block.exclusive-gifts h1::before{
	@include icomoon('\e017');
	line-height: 60px;
	font-size: 52px;
	display: block;
}
.main-block.my-recycles h1::before{
	@include icomoon('\e03e');
	line-height: 60px;
	font-size: 52px;
	display: block;
}
.main-block.nearby-gifts h1::before{
	@include icomoon('\e025');
	line-height: 60px;
	font-size: 52px;
	display: block;
}
.main-block.new-recycles h1::before{
	@include icomoon('\e012');
	line-height: 60px;
	font-size: 52px;
	display: block;
}
/********************view ****************/
.view {
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 8px;
	position: absolute;
	border: solid 2px rgba(0,0,0,1);
	-webkit-box-shadow: inset 0 1px 0px rgba(255,255,255,0.3);
	box-shadow: inset 0 1px 0px rgba(255,255,255,0.3);
	&.exclusive-gifts {
		background-color: $red;
	}
	&.my-recycles {
		background-color: $green;
	}
	&.nearby-gifts {
		background-color: $purple;
	}
	&.new-recycles {
		background-color: $yellow;
	}
	header {
		height: $headerHeight; 
		h2 {
			font-weight: 900;
			font-size: 24px;
			line-height: $headerHeight;
			padding-left: 20px;
		}
	}
	.main {
		position: absolute;
		margin: 0;
		top: $headerHeight;
		bottom: $footerHeight;
		left: 0;
		right: 0;
		background-color: rgba(0,0,0,0.2);
	}
	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		.button {
			width: 25%;
			float: left;
			height: $footerHeight;
			cursor: pointer;
		}
		.button::before {
			font-size: 40px;
			line-height: $footerHeight;
			text-align: center;
			display: block;
			-webkit-text-shadow: 0 0 8px rgba(255,255,255,.6);
			-moz-text-shadow: 0 0 8px rgba(255,255,255,.6);
			text-shadow: 0 0 8px rgba(255,255,255,.6);
			opacity: 0.6;
		}
		.button.active::before {
			opacity: 1;
		}
		.button.exclusive-gifts::before {
			@include icomoon('\e017');
		}
		.button.my-recycles::before {
			@include icomoon('\e03e');
		}
		.button.nearby-gifts::before {
			@include icomoon('\e025');
		}
		.button.new-recycles::before {
			@include icomoon('\e012');
		}
	}
}
