@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?l5ockb");
  src: url("../fonts/icomoon.eot?#iefixl5ockb") format("embedded-opentype"), url("../fonts/icomoon.woff?l5ockb") format("woff"), url("../fonts/icomoon.ttf?l5ockb") format("truetype"), url("../fonts/icomoon.svg?l5ockb#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0; }

h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  text-align: center; }

h4 {
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0.05em; }

.main-block {
  width: 50%;
  height: 50%;
  overflow: hidden;
  box-sizing: border-box;
  border-radius: 8px;
  position: absolute;
  border: solid 2px black;
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }

#one {
  left: 0;
  top: 0;
  background-color: #ff0453;
  -webkit-transform-origin: 0% 0%;
  -moz-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  transform-origin: 0% 0%; }

#two {
  right: 0;
  top: 0;
  background-color: #03c796;
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  transform-origin: 100% 0%; }

#three {
  left: 0;
  bottom: 0;
  background-color: #885e74;
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  transform-origin: 0% 100%; }

#four {
  right: 0;
  bottom: 0;
  background-color: #ffc100;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

.detail-page .main-block {
  width: 0%;
  height: 0%; }

.detail-page .main-block.active {
  width: 100%;
  height: 100%; }

.main-block h1 {
  margin-top: 60px; }

.main-block.exclusive-gifts h1::before {
  content: "\e017";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 60px;
  font-size: 52px;
  display: block; }

.main-block.my-recycles h1::before {
  content: "\e03e";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 60px;
  font-size: 52px;
  display: block; }

.main-block.nearby-gifts h1::before {
  content: "\e025";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 60px;
  font-size: 52px;
  display: block; }

.main-block.new-recycles h1::before {
  content: "\e012";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 60px;
  font-size: 52px;
  display: block; }

/********************view ****************/
.view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  border: solid 2px black; }
.view .view-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.view .view-wrapper.menu-active {
  -webkit-transform: translateX(-75%);
  -ms-transform: translateX(-75%);
  -o-transform: translateX(-75%);
  transform: translateX(-75%); }
.view .view-wrapper.exclusive-gifts {
  background-color: #ff0453; }
.view .view-wrapper.my-recycles {
  background-color: #03c796; }
.view .view-wrapper.nearby-gifts {
  background-color: #885e74; }
.view .view-wrapper.new-recycles {
  background-color: #ffc100; }
.view header {
  height: 60px; }
.view header h2 {
  font-weight: 900;
  font-size: 24px;
  line-height: 60px;
  margin-left: 40px;
  margin-right: 60px;
  cursor: pointer; }
.view header h2::before {
  content: "\f196";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 32px;
  height: 60px;
  width: 40px;
  line-height: 60px;
  text-align: center; }
.view header .menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  cursor: pointer; }
.view header .menu i {
  position: absolute;
  width: 24px;
  height: 4px;
  top: 28px;
  right: 16px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.view header .menu i::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  top: -10px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.view header .menu i::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  top: 10px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in; }
.view header .menu.menu-active i {
  background-color: rgba(255, 255, 255, 0); }
.view header .menu.menu-active i::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
.view header .menu.menu-active i::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }
.view .main {
  position: absolute;
  margin: 0;
  top: 60px;
  bottom: 60px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2); }
.view footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
.view footer .button {
  width: 25%;
  float: left;
  height: 60px;
  cursor: pointer; }
.view footer .button::before {
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  display: block;
  -webkit-text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  -moz-text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
  opacity: 0.6; }
.view footer .button.active::before {
  opacity: 1; }
.view footer .button.exclusive-gifts::before {
  content: "\e017";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.view footer .button.my-recycles::before {
  content: "\e03e";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.view footer .button.nearby-gifts::before {
  content: "\e025";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.view footer .button.new-recycles::before {
  content: "\e012";
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#activity-map {
  position: absolute;
  width: 100%;
  height: 100%; }

/********************view.menu ****************/
.menu-wrapper {
  position: absolute;
  width: 75%;
  height: 100%;
  left: 100%;
  background-color: #333333;
  border-radius: 8px;
  -webkit-box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 1px 0px rgba(255, 255, 255, 0.3);
  padding: 0 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in; }
.menu-wrapper.menu-active {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%); }
