<!-- exclusive gift -->
<div class="view-wrapper exclusive-gifts" ng-class="{'menu-active': view.menuActive}">
	<header>
		<h2 ng-click="setPage('main')">exclusive gifts</h2>
		<div class="menu" 
			ng-class="{'menu-active': view.menuActive}" 
			ng-click="view.menuActive = !view.menuActive"><i></i></div>
	</header>
	<div class="main">
		<div class="gift-wrapper">
			<div class="gift">
				<h1>Almost new sofa <a href="#">0.3 mi</a> away</h1>
				<div class="swiper-container">
					<div class="pagination"></div>
					<div class="swiper-wrapper" style="width:2424px;">
						<div class="swiper-slide">
							<div class="inner">
								<img src="../images/gallery-2.jpg" alt="">
							</div>
						</div>
						<div class="swiper-slide">
							<div class="inner">
								<img src="../images/gallery-5.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
				<p class="description">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit eius atque aliquid ea voluptatem quis natus alias laudantium, illo vel?
				</p>
			</div>
		</div>
	</div>
	<footer>
		<div class="button exclusive-gifts active" 
		ng-click="setPage('view.exclusive')"></div>
		<div class="button nearby-gifts"
		ng-click="setPage('view.nearby')"></div>
		<div class="button my-recycles"
		ng-click="setPage('view.mine')"></div>
		<div class="button new-recycles"
		ng-click="setPage('view.new')"></div>
	</footer>
</div>
